<body id="login-background">
  <header>
    <h1 class="title pure-u-24-24 animated bounceInDown">SoapStone</h1>
    <p class="slogan pure-u-24-24 animated fadeIn">Social should be social.</p>
  </header>

  <div id="root" style="width: 17.5em; margin: 2.5em auto; padding: 0.625em; border-width: 0.063em;">
  <script src="https://cdn.auth0.com/js/lock-7.9.min.js"></script>
  <script>
   var lock = new Auth0Lock('qWcpgWl7NeB2YH9rWX9Hl1BJgY9M97Ui', 'soapstone.auth0.com');
   var url = (document.location.origin + "/auth/auth0/callback")

    lock.show({
      container: 'root'
    , callbackURL: url
    , responseType: 'code'
    , authParams: {
      scope: 'openid profile'
    }
    , icon: "/images/soapstone-flat.png"
   });
  </script>
  </div>
  <p class="about pure-u-24-24">View and create drops from where you're standing.</p>
  <div class="img-container pure-u-24-24">
    <a href="https://github.com/nyc-mud-turtles-2015/Soap-Stone"><i class="fa fa-github"></i></a>
  </div>
</body>
