<div id="googleMap" style="width:1024px;height:640px;"></div>
<div data-role="menu">
  <button data-role="new-drop">yo</button>
</div>
<div id="form-container" class="hidden">
  <%= render partial: "drop_form" %>
</div>

<%= render partial: "handlebars_show_drop" %>
