<div data-view="map" class="view">
  <div data-role="main-container" class="pure-g">
    <div class="pure-u-1 pure-u-md-2-3">
      <div id="google-map-container">
        <div id="googleMap"></div>
      </div>
    </div>
  </div>

  <button data-button="new" class="floating-round orange new pure-u-1"><i class="material-icons md-24">create</i></button>
  <button data-button="center" class="floating-round white center"><i class="material-icons md-24">gps_fixed</i></button>
  <button data-button="list" class="floating-round white list"><i class="material-icons md-24">list</i></button>
  <button data-button="profile" class="floating-round white profile pure-u-1"><i class="material-icons md-24">person</i></button>


  <nav class="tabs">
  <button  data-button="public-filter" class="tab public selected"><i class="material-icons md-24">public</i>ALL</button>
  <button  data-button="friend-filter" class="tab friend"><i class="material-icons md-24">group</i>FOLLOWING</button>
  </nav>

  <div class="new-form-lightbox"></div>
  <div data-view="new-form" class="drop-form bottom-sheet">
  <%= render partial: "drop_form" %>
  </div>
</div>

<%= render partial: "handlebars_show_drop" %>
<%= render partial: "handlebars_drop_list" %>
