<div data-view="map" class="pure-g">
  <div class="pure-u-1">
    <div id="googleMap" style="width:1024px;height:640px;"></div>
    <div data-role="menu">
      <button data-button="new-button" class="pure-button">yo</button>
      <button id="set-center">center</button>
      <%= link_to "login", login_path %>
    </div>
    <div data-view="new-form" id="form-container" class="hide">
      <%= render partial: "drop_form" %>
    </div>
  </div>
</div>
<%= render partial: "handlebars_show_drop" %>
