@font-face {
  font-family: 'icomoon';
  src:url('/assets/icomoon.eot?mtcnmg');
  src:url('/assets/icomoon.eot?mtcnmg#iefix') format('embedded-opentype'),
    url('/assets/icomoon.ttf?mtcnmg') format('truetype'),
    url('/assets/icomoon.woff?mtcnmg') format('woff'),
    url('/assets/icomoon.svg?mtcnmg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drop:before {
  content: "\e052";
}
.icon-center:before {
  content: "\e0a3";
}
.icon-profile:before {
  content: "\e255";
}
