html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.avatar {
  padding: .5em;
}

.material-icons {
  font-size: 4em;
  position: fixed;
  text-decoration: none;
  color: white;
}

#avatar {
  float: left;
  margin-right: 1em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #7f8c8d;
}

.home {
  float: left;
  position: absolute;
}

.menu {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile {
  padding-top: 4em;
}

.head {
  position: fixed;
  border: #ccc solid 1px;
  background-color: orange;
  height: 4em;
  width: 100%;
}

.username {
  padding: 1.5em;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: white;
}

.splash-container {
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2em;
}

.following {
  margin: 0 auto;
  width: 20em;
  border: 0 none;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: #2ecc71;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

#followers, #followees {
  text-align: center;
  padding: .3em;
  border: #ccc solid 1px;
  height: 2em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

#drops {
  text-align: center;
  padding: .3em;
  border: #ccc solid 1px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.open-drop {
  border-radius: 50%;
  padding: .2em;
}

a {
  text-decoration: none;
}
.follow-form {
  padding: 1em;
}

.follower-username {
  padding: .2em;
}

.follow {
  margin: 0 auto;
  width: 20em;
  font-weight: 600;
  letter-spacing: 1.5px;
  background-color: white;
  color: blue;
  border-radius: 5px;
  border: #ccc solid 1px;
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


.user {
  background-color: #ecf0f1;
}

.hide {
  display: none;
}

.drop-img {
    max-height: 50vh;
}

.drop-text-wrapper {
    margin: 0;
    display: table;
    width:100%;
    max-height: 50vh;
}

.drop-text-container {
    display: table-cell;
    vertical-align:middle;
}

.drop-text-container .drop-text {
    margin: 0;
    padding: 2em;
    text-align:center;
    font-style: italic;
    font-size: 2em;
    min-height: 3em;
    background-color: rgba(230, 126, 34, 0.9);
    color: #ececec;
}

.drop-list {
    overflow: scroll;
    height: calc(50vh - 5em);
}

.drop-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
    width: 100%;
}

.list-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.drop-item:nth-child(1) {
    border-top: 1px solid #ddd;
}

    .drop-avatar {
        width: 40px;
        height: 40px;
    }

    .drop-name {
        margin: 0;
    }

    .drop-time, .drop-distance, .drop-snap {
        font-size: 70%;
        margin: 3em 0;
        padding-left: 1.5em;
    }

    .drop-link {
      text-decoration: none;
      float:right;
      padding-top:0.7em;
      color: black;
    }

    .drop-link:hover {
      color: grey;
    }

    .drop-list-empty {
        margin: 1em 0;
        color: #888;
        text-align: center;
    }

.drop-item.selected {
    background-color: #f9f8f7;
}



#google-map-container {
    position: relative;
    padding-bottom: 50vh;
    height: 0;
    overflow: hidden;
    margin: 0;
}

#google-map-container #googleMap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-container {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    overflow: scroll;
    background: rgba(0,0,0,0.9);
}


.form-container form {
    position: relative;
    margin: 30px;
    padding: 20px;
    background-color: rgba(230, 126, 34, 1);
    border-radius: 3px;

    margin: 100px auto;
    max-width: 600px;
    text-align: center;
}

.new-drop-form {
    color: #ececec;
}

.new-drop-form .photo-button {
    width: 0;
    height: 0;
}

.new-drop-form .photo-button:focus {
    outline: none;
}

.new-drop-form .photo-label,
.new-drop-form input[type='text'] {
    width: 80%;
    margin: 0.5em auto;
}

.new-drop-form input[type='text'] {
    height: 2em;
    color: #111111;
}



button.close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: rgba(180,180,180,0.7);
}

.comment-list {
  margin: 0;
  padding: 0;
}

.comment-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}

.comment-item:nth-child(1) {
    border-top: 1px solid #ddd;
}

    .comment-avatar {
        width: 40px;
        height: 40px;
    }

    .comment-name {
        margin: 0;
    }

    .comment-text {
        font-size: 80%;
        margin: 0.4em 0;
    }

.page {
    width: 100%;
    height: 100%;
}

.drop-img {
  max-height: 50vh;
}

.menu {
    position: absolute;
    height: 5em;
    bottom: 0;
    width: 100%;
}

.menu button {
    width: 100%;
    height: 5em;
    background-color: rgba(230, 126, 34, 0.9);
    color: #ececec;
    width: 99%;
}

.menu button i {
    display: block;
    width: 100%;
}

.menu .fancy-input {
    border-radius: 2px;
    width: 100%;
    height: 5em;
    background-color: rgba(230, 126, 34, 0.9);
    color: #ececec;
    width: 99%;
    text-align:center;
}

.menu .fancy-input input {
    text-align: left;
    width: 80%;
    margin: 1.5em 0;
    height: 2em;
    color: #222222;
    border-width: 0;
    border-radius: 2px;
}

@media screen and (min-width: 35.5em) {
    #google-map-container {
        padding-bottom: 100vh;
    }
    .drop-list {
        height: calc(100vh - 5em);
    }
}

/****** AUTH0 ******/
#login-background {
  background-image: url("mobile-street.png");
  background-size: 140% auto;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.a0-image {
  animation: wiggle 2.5s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(30deg);
  }
  25% {
    transform: rotateZ(-30deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

body #a0-lock .a0-panel,
body #a0-lock.a0-theme-default .a0-panel,
body #a0-widget .a0-panel {
  background-color: #F4B350;
  color: white;
}
body #a0-lock .a0-panel .a0-close:hover,
body #a0-lock.a0-theme-default .a0-panel .a0-close:hover,
body #a0-widget .a0-panel .a0-close:hover {
  color: #fff;
}
body #a0-lock .a0-panel .a0-avatar,
body #a0-lock.a0-theme-default .a0-panel .a0-avatar,
body #a0-widget .a0-panel .a0-avatar {
  background: rgba(0, 0, 0, 0.9);
}
body #a0-lock .a0-panel .a0-avatar i,
body #a0-lock.a0-theme-default .a0-panel .a0-avatar i,
body #a0-widget .a0-panel .a0-avatar i {
  color: #fff;
}
body #a0-lock .a0-panel .a0-inputs,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs,
body #a0-widget .a0-panel .a0-inputs {
  border: 0;
}
body #a0-lock .a0-panel .a0-inputs i,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs i,
body #a0-widget .a0-panel .a0-inputs i {
  color: #ffa4f3 !important;
}
body #a0-lock .a0-panel .a0-inputs input,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs input,
body #a0-widget .a0-panel .a0-inputs input {
  background: transparent;
}
body #a0-lock .a0-panel .a0-inputs input::-webkit-input-placeholder,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs input::-webkit-input-placeholder,
body #a0-widget .a0-panel .a0-inputs input::-webkit-input-placeholder {
  color: white;
}
body #a0-lock .a0-panel .a0-inputs input:focus,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs input:focus,
body #a0-widget .a0-panel .a0-inputs input:focus {
  background-color: transparent;
}

body #a0-lock .a0-panel .a0-separator,
body #a0-lock.a0-theme-default .a0-panel .a0-separator,
body #a0-widget .a0-panel .a0-separator {
  color: rgba(255, 255, 255, 0.5);
}
body #a0-lock .a0-panel button.a0-primary,
body #a0-lock.a0-theme-default .a0-panel button.a0-primary,
body #a0-widget .a0-panel button.a0-primary {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  width: 80%;
}
body #a0-lock .a0-panel .a0-btn-small,
body #a0-lock.a0-theme-default .a0-panel .a0-btn-small,
body #a0-widget .a0-panel .a0-btn-small {
  border-color: rgba(255, 255, 255, 0.2);
}
body #a0-lock .a0-panel .a0-btn-small:hover,
body #a0-lock.a0-theme-default .a0-panel .a0-btn-small:hover,
body #a0-widget .a0-panel .a0-btn-small:hover {
  border-color: white;
  background: none;
}
body #a0-lock .a0-panel .a0-footer .a0-logo i,
body #a0-lock.a0-theme-default .a0-panel .a0-footer .a0-logo i,
body #a0-widget .a0-panel .a0-footer .a0-logo i {
  color: white;
}
@media screen and (max-width: 480px) {
  body #a0-lock .a0-popup .a0-overlay,
  body #a0-widget .a0-popup .a0-overlay {
    background-image: linear-gradient(to bottom, #F4B350 0%, #F4B350 50%, #F4B350 100%);
    color: white;
  }
  body #a0-lock .a0-popup .a0-overlay .a0-panel,
  body #a0-widget .a0-popup .a0-overlay .a0-panel {
    background: transparent;
  }
}

.slogan {
  color:#fff;
  text-align: center;
  font-size: 1.5em;
  text-shadow: .05em .05em .05em #636363;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -0.1em;
  margin-top: -0.3em;
}

.a0-icon-badge {
  display:none;
}

.title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size:4em;
  color:#FFF;
  margin-top: -0.001em;
  margin-bottom: -0.001em;
  /*text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
  z-index: 100;
  text-shadow: .02em .02em .02em #636363;
}

.about {
  color:#fff;
  font-size: 2.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  text-shadow: .06em .06em .06em #636363;
}

@media screen and (min-width: 35.5em){
  .title {
    font-size: 6em;
  }

  #login-background{
    background-image: url("image4.JPG");
    max-width:100%;
  }

  .slogan {
    font-size: 3em;
    text-align: center;
    text-shadow: .06em .06em .06em #636363;
  }

  .about {
    font-size: 2em;
  }
}

/* fancy loader http://projects.lukehaas.me/css-loaders/ */

.loader {
    display: none;
}
.uploading .new-drop-form input[type='text'],
.uploading .new-drop-form input[type='file'],
.uploading .new-drop-form input[type='submit'],
.uploading .new-drop-form label {
    display: none;
}
.uploading .loader:before,
.uploading .loader:after,
.uploading .loader {
  display: block;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.uploading .loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.uploading .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.uploading .loader:after {
  left: 3.5em;
}
.uploading .loader:before,
.uploading .loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #ffffff;
  }
}
