html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.user.view header {
    position: fixed;
    height: 48px
}
    .user.view a.home {
        position: absolute;
        left: 16px;
        top: 5px;
        border: 0;
        background: transparent;
        color: rgba(255, 255, 255, 1);
    }

    .user.view #search-form input {
        position: absolute;
        right: 56px;
        width: 160px;
        top: 64px;
        border: 0;
        background: white;
        font-size: 14px;
        padding: 6px;
        -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,0.24);
        box-shadow: inset 0 3px 6px rgba(0,0,0,0.24);
        border: 1px solid rgba(0,0,0,0.12);
        color: rgba(0, 0, 0, 0.78);
    }

    .user.view #search-form button {
        position: absolute;
        right: 12px;
        top: 60px;
        border: 0;
        height: 24px;
        background: transparent;
        color: rgba(255, 255, 255, 1);
        color: rgba(0, 0, 0, 0.78);
    }

    .user.view a.logout {
        position: absolute;
        right: 16px;
        top: 5px;
        border: 0;
        background: transparent;
        color: rgba(255, 255, 255, 1);
    }

    .user.view .suggestions {
        position: absolute;
        right: 56px;
        width: 160px;
        top: 95px;
        background: white;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.24);
        box-shadow: 0 3px 6px rgba(0,0,0,0.24);
    }

    .user.view .suggestions li {
        display: block;
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        padding: 0;
        margin: 0;
        white-space: nowrap;
    }


    .user.view .suggestions li a {
        display: inline-block;
        padding: 0 8px;
        letter-spacing: normal;
        width: 100%;
        color: rgba(0, 0, 0, 0.54);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user.view .suggestions li a:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .user.view .follow {
        float: right;
        margin-right: 16px;
        min-width: 120px;
        transition: background-color 0.5s, color 0.5s;
    }

.drop-thumbs {
    text-align: center;
}

.open-drop {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.24);
    box-shadow: 0 3px 6px rgba(0,0,0,0.24);
    border-radius: 0;
    margin: 8px;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.open-drop.text-only {
    text-align: center;
    background-color: #FF9800;;
    color: white;
}
.open-drop.text-only a{
    padding: 16px;
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

.profile-info {
   margin-top: 16px;
   border-top: 1px solid rgba(0,0,0,0.12);
}

.profile-info div {
   height: 48px;
   font-size: 18px;
   color: rgba(0, 0, 0, 0.78);
   border-bottom: 1px solid rgba(0,0,0,0.12);
   padding: 16px;
   cursor: pointer;
}

.profile-info div a {
   display: block;
   color: rgba(0, 0, 0, 0.78);
   height: 48px;
   width: 100%;
}

.profile-info div:hover {
    background-color: rgba(0, 0, 0, 0.06);
}


#avatar {
  float: left;
  margin-left: 16px;
  margin-top: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#user-logout:hover {
  color: #FDE3A7;
}

#map-home:hover {
  color: #FDE3A7;
}

.menu {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
}


.profile {
  padding-top: 48px;
  height: 128px;
}

.splash-container {
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2em;
}

.following {
  margin: 0 auto;
  width: 100%;
  border: 0 none;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: #2ecc71;
  color: white;
  border-radius: 5px;
}

#followers, #followees {
  text-align: center;
  padding: .3em;
  height: 2em;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

a {
  text-decoration: none;
}
.follow-form {
  margin: 0;
  padding: 0;
  float: right;
}

.follower-username {
  padding: .2em;
}

.drop-wrapper {
    position: relative;
    width: 100%;
    background: black;
    display: table;
}

    .drop-wrapper .drop-avatar {
        width: 56px;
        height: 56px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        position: absolute;
        background-color: rgba(230, 126, 34, 0.75);
        bottom: 16px;
        left: 16px;
    }

    .drop-wrapper .drop-content.with-image {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .drop-wrapper .drop-content.with-image .drop-img {
        height: auto;
        width: auto;
        max-height: 50vh;
        max-width: 100%;
    }

    .drop-wrapper .drop-content.with-image .drop-text {
        letter-spacing: normal;
        position: absolute;
        bottom: 16px;
        width: calc(100% - 90px);
        padding: 16px;
        border-top-left-radius: 28px;
        border-bottom-left-radius: 28px;
        margin: 0;
        right: 0;
        text-align: center;
        font-size: 1em;
        height: 56px;
        background-color: rgba(230, 126, 34, 0.75);
        color: #ececec;
    }

    .drop-wrapper .drop-content.text-only {
        display: table;
        width: 80%;
        margin: 16px auto;
        border-radius: 3px;
        background-color: rgba(230, 126, 34, 0.75);
        color: #ececec;
        height: 75%
    }

    .drop-wrapper .drop-content.text-only .drop-text {
        display: table-cell;
        vertical-align: middle;
        letter-spacing: normal;
        text-align: center;
        font-size: 2em;
    }

.list {
    letter-spacing: normal;
 }

    .list .list-item {
        position: relative;
        min-height: 72px;
    }

    .list .list-avatar {
        position: absolute;
        left: 0;
        padding-left: 16px;
    }

    .list .list-avatar img {
        width: 56px;
        height: 56px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .list .list-content {
        margin-left: 80px;
        margin-right: 16px;
        border-bottom: 1px solid rgba(0,0,0,0.12);
        min-height: 72px;
    }

    .list h3 {
        color: rgba(0, 0, 0, 0.78);
        letter-spacing: normal;
        font-weight: normal;
        font-size: 16px;
        margin: 0;
        padding: 8px 0 0 0;
    }

    .list .list-text {
        color: rgba(0, 0, 0, 0.54);
        letter-spacing: normal;
        font-size: 14px;
        margin: 0;
        padding: 8px 0 0 0;
    }

.user-list h3 {
    margin-top: 8px;
    font-size: 18px;
}

.hide {
  display: none;
}

/*.drop-text-wrapper {
    margin: 0;
    display: table;
    width:100%;
    max-height: 50vh;
}

.drop-text-container {
    display: table-cell;
    vertical-align:middle;
}
*/
/*.drop-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.54);
    border-left: 6px solid transparent;
    width: 100%;
}

.list-avatar {

}*/

.drop-list .droplist-item {
    position: relative;
    min-height: 60px;
}

.drop-list .droplist-avatar {
    margin-top: 8px;
    margin-left: 8px;
}

.drop-list .droplist-avatar img {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.drop-list .droplist-content {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    padding-left: 8px;
}

.drop-action {
  float:right;
  padding-top: 16px;
}

.drop-action a {
  text-decoration: none;
  color: #FF9800;
}

.drop-action a:hover {
  color: #FB8C00;
}

.drop-action a:active {
  color: #F57C00;
}

/*
.drop-name {
    margin: 0;
}

.drop-time, .drop-distance, .drop-snap {
    font-size: 70%;
    margin: 3em 0;
    padding-left: 1.5em;
}*/

/*.drop-link {
  text-decoration: none;
  float:right;
  padding-top:0.7em;
  color: black;
}

.drop-link:hover {
  color: grey;
}*/

.drop-list-empty {
    margin: 1em 0;
    color: #888;
    text-align: center;
}

.droplist-item.selected {
    background-color: #f9f8f7;
}

#google-map-container {
    position: relative;
    padding-bottom: 100vh;
    height: 0;
    overflow: hidden;
    margin: 0;
}

#google-map-container #googleMap {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100%;
}

.drop-form {
    overflow: hidden;
    background-color: white;
    z-index: 1005;
}

.new-drop-form {
    position: relative;
    text-align: center;
    margin: 16px;
}

.new-drop-form .photo-button {
    width: 0;
    height: 0;
}

.new-drop-form .photo-button:focus {
    outline: none;
}

.new-drop-form .photo-label {
    width: 100%;
    cursor: pointer;
}

.new-drop-form textarea {
    display: block;
    width: 100%;
    height: 5em;
    text-align: left;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,0.24);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.24);
    border: 1px solid rgba(0,0,0,0.12);
}

.page {
    width: 100%;
    height: 100%;
}

.menu {
    position: absolute;
    height: 5em;
    bottom: 0;
    width: 100%;
}

.menu button {
    width: 100%;
    height: 5em;
    background-color: rgba(230, 126, 34, 0.9);
    color: #ececec;
    width: 99%;
}

.menu button i {
    display: block;
    width: 100%;
}

.menu .fancy-input {
    border-radius: 2px;
    width: 100%;
    height: 5em;
    background-color: rgba(230, 126, 34, 0.9);
    color: #ececec;
    width: 99%;
    text-align:center;
}

.menu .fancy-input input {
    text-align: left;
    width: 80%;
    margin: 1.5em 0;
    height: 2em;
    color: #222222;
    border-width: 0;
    border-radius: 2px;
}

@media screen and (min-width: 35.5em) {
    #google-map-container {
        padding-bottom: 100vh;
    }
    .drop-list {
        height: calc(100vh - 5em);
    }
}

/****** AUTH0 ******/
#login-background {
  background-image: image-url("mobile-street.png");
  background-size: 170% cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.a0-image {
  animation: wiggle 3s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(30deg);
  }
  25% {
    transform: rotateZ(-30deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

body #a0-lock .a0-panel,
body #a0-lock.a0-theme-default .a0-panel,
body #a0-widget .a0-panel {
  background-color: #F9BF3B;
  color: white;
}
body #a0-lock .a0-panel .a0-close:hover,
body #a0-lock.a0-theme-default .a0-panel .a0-close:hover,
body #a0-widget .a0-panel .a0-close:hover {
  color: #fff;
}
body #a0-lock .a0-panel .a0-avatar,
body #a0-lock.a0-theme-default .a0-panel .a0-avatar,
body #a0-widget .a0-panel .a0-avatar {
  background: rgba(0, 0, 0, 0.9);

}
body #a0-lock .a0-panel .a0-avatar i,
body #a0-lock.a0-theme-default .a0-panel .a0-avatar i,
body #a0-widget .a0-panel .a0-avatar i {
  color: #fff;
}
body #a0-lock .a0-panel .a0-inputs,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs,
body #a0-widget .a0-panel .a0-inputs {
  border: 0;
}
body #a0-lock .a0-panel .a0-inputs i,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs i,
body #a0-widget .a0-panel .a0-inputs i {
  color: #ffa4f3 !important;
}
body #a0-lock .a0-panel .a0-inputs input,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs input,
body #a0-widget .a0-panel .a0-inputs input {
  background: transparent;
}
body #a0-lock .a0-panel .a0-inputs input::-webkit-input-placeholder,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs input::-webkit-input-placeholder,
body #a0-widget .a0-panel .a0-inputs input::-webkit-input-placeholder {
  color: white;
}
body #a0-lock .a0-panel .a0-inputs input:focus,
body #a0-lock.a0-theme-default .a0-panel .a0-inputs input:focus,
body #a0-widget .a0-panel .a0-inputs input:focus {
  background-color: transparent;
}

body #a0-lock .a0-panel .a0-separator,
body #a0-lock.a0-theme-default .a0-panel .a0-separator,
body #a0-widget .a0-panel .a0-separator {
  color: rgba(255, 255, 255, 0.5);
}
body #a0-lock .a0-panel button.a0-primary,
body #a0-lock.a0-theme-default .a0-panel button.a0-primary,
body #a0-widget .a0-panel button.a0-primary {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  width: 80%;
}
body #a0-lock .a0-panel .a0-btn-small,
body #a0-lock.a0-theme-default .a0-panel .a0-btn-small,
body #a0-widget .a0-panel .a0-btn-small {
  border-color: rgba(255, 255, 255, 0.2);
}
body #a0-lock .a0-panel .a0-btn-small:hover,
body #a0-lock.a0-theme-default .a0-panel .a0-btn-small:hover,
body #a0-widget .a0-panel .a0-btn-small:hover {
  border-color: white;
  background: none;
}
body #a0-lock .a0-panel .a0-footer .a0-logo i,
body #a0-lock.a0-theme-default .a0-panel .a0-footer .a0-logo i,
body #a0-widget .a0-panel .a0-footer .a0-logo i {
  color: white;
}
@media screen and (max-width: 480px) {
  body #a0-lock .a0-popup .a0-overlay,
  body #a0-widget .a0-popup .a0-overlay {
    background-image: linear-gradient(to bottom, #F4B350 0%, #F4B350 50%, #F4B350 100%);
    color: white;
  }
  body #a0-lock .a0-popup .a0-overlay .a0-panel,
  body #a0-widget .a0-popup .a0-overlay .a0-panel {
    background: transparent;
  }
}

#root {
  margin-top: -0.5em;
}

.slogan {
  color:#fff;
  text-align: center;
  font-size: 1.6em;
  text-shadow: .04em .04em .04em #333333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -0.5em;
  margin-top: -0.5em;
  z-index: 140;
  font-family: 'Montserrat', sans-serif;
  animation-delay: 3s;
}

.a0-icon-badge {
  display:none;
}

.title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size:3em;
  color:#FFF;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  z-index: 120;
  text-shadow: .04em .04em .04em #333333;
  animation-delay: 1s;
}

.about {
  color:#EEEEEE;
  font-size: 1.2em;
  text-align: center;
  margin-top: -0.5em;
  margin-left: auto;
  margin-right: auto;
  z-index: 140;
  text-shadow: .1em .1em .1em #333333;
  font-family: 'Montserrat', sans-serif;
  /*-webkit-text-stroke: 0.01px #141414;*/
}

@media screen and (min-width: 35.5em){
  .title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size:5em;
    color:#FFF;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    z-index: 120;
    text-shadow: .038em .03em .03em #333333;
    animation-delay: 1s;
  }

  #login-background{
    background-image: image-url("david2.jpg");
    background-size: 140% auto;

  }

  .slogan {
    font-size: 3em;
    text-align: center;
    text-shadow: .035em .035em .035em #333333;
    font-family: 'Montserrat', sans-serif;
    z-index: 110;
    animation-delay: 3.5s;
  }

  .about {
    color:#EEEEEE;
    font-size: 2em;
    text-align: center;
    margin-top: -0.5em;
    margin-left: auto;
    margin-right: auto;
    z-index: 140;
    text-shadow: .1em .1em .1em #333333;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-stroke: 0.01px #141414;

  }

  .fa-github {
    color:#EEEEEE;
    font-size: 1em;
    text-shadow: .05em .05em .05em #333333;
  }

  .fa-github:hover {
    color: #6C7A89;
  }
}

.img-container {
  display: block;
  text-align: center;
}

.fa-github {
  color:#EEEEEE;
  font-size: 3em;
  text-shadow: .05em .05em .05em #333333;
}

.fa-github:hover {
  color: #F9BF3B;
  animation: wiggle 2s infinite;
}


/*.drop-content {
    text-align: center;
}

.drop-text {
    width: 100%;
    background: rgba(50, 50, 50, 0.5);
    color: white;
}

.drop-content.text-only {
    text-align: center;
}

.drop-content.text-only .drop-text {
    text-align: center;
}

.drop-img {
    margin: auto;
    max-height: 50vh;
}*/


/* slide map with views */
#google-map-container {
    padding-bottom: 100vh;
    transition: padding-bottom 0.5s ease-in;
}

.drop-list-open #google-map-container {
    padding-bottom: 50vh;
    transition: padding-bottom 0.5s ease-out;
}

.drop-form-open #google-map-container {
    padding-bottom: 50vh;
    transition: padding-bottom 0.5s ease-out;
}

.drop-open #google-map-container {
    padding-bottom: 50vh;
    transition: padding-bottom 0.5s ease-out;
}

/* slide drop show page */
.view.drop {
    height: 0;
    z-index: 1006;
    transition: height 0.5s ease-in;
}

.drop-wrapper {
    height: 0;
    z-index: 1007;
    background-color: black;
    width: 100%;
    transition: height 0.5s ease-in;
}

.drop-info {
    position: relative;
    height: 0;
    width: 100%;
    z-index: 1007;
    background-color: white;
    transition: height 0.5s ease-in;
}

.drop-open .view.drop {
    height: 100vh;
    max-height: 100vh;
    transition: height 0.45s ease-out;
}
.drop-open .drop-wrapper {
    height: 50vh;
    transition: height 0.45s ease-out;
}
.drop-open .drop-info {
    height: 50vh;
    max-height: 50vh;
    transition: height 0.45s ease-out;
}

/* slide droplist */
.drop-list {
    height: 0;
    z-index: 1002;
    background-color: white;
    transition: height 0.5s ease-in;
}

.drop-list-open .drop-list {
    height: 50vh;
    transition: height 0.5s ease-out;
}

/* slide buttons with droplist */
button.floating-action {
    outline: none;
    bottom: 24px;
    transition: bottom 0.45s ease-in, box-shadow 0.5s;
}

button.floating-action:hover {
    background: #FB8C00;
}

button.floating-action:active {
    background: #F57C00;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.drop-list-open button.new {
    bottom: calc(50vh - 28px);
    transition: bottom 0.45s ease-out 0.05s, box-shadow 0.5s, background-color 0.5s;
}

.drop-list-open button.center {
    bottom: calc(50vh + 52px);
    transition: bottom 0.45s ease-out 0.05s, box-shadow 0.5s, background-color 0.5s;
}

/**** DESKTOP MAP ****/

@media screen and (min-width: 48em)	{
  .drop-list {
    overflow:scroll;
    height: calc(100vh - 3.5em);
    left: 66.5%;
    width: 32.5%;
    max-width: 32.5%;
  }

  .drop-item{
    max-width: 35%;
  }

  #list-close {
    display:none;
  }

  .floating-round.white.list {
    display:none;
  }

  .floating-round.white.profile {
    bottom:24px;
  }

  .floating-round.orange.new {
    position:absolute;
    right: calc(33% + 24px);
  }

  .floating-round.white.center {
    position:absolute;
    right: calc(33% + 24px);
  }

  /*button.floating-round.white.profile {
    margin-top: 3em;
  }*/
}

/* dim map when form is up */
.new-form-lightbox {
   transition: background-color 0.6s ease-in;
   background-color: rgba(0, 0, 0, 0.0);
   cursor: pointer;
}

.drop-form-open .new-form-lightbox {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0,0,0,0.6);
}

/* show/hide form */
.drop-form {
    height: 0;
    transition: height 0.5s ease-in;
}

.drop-form-open .drop-form {
    height: 50vh;
    transition: height 0.5s ease-out;
}

/* buttons */
button.icon-toggle  {
    outline: none;
    color: #FF9800;
    background-color: transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border-width: 0;
    padding: 0;
    transition: color 0.5s, background-color 0.5s;
}

button.icon-toggle.inactive {
    color: rgba(0, 0, 0, 0.54)
}

button.icon-toggle.inactive:hover{
    color: rgba(0, 0, 0, 0.87);
}

button.icon-toggle.inactive:active {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(0, 0, 0, 0.38);
}

button.floating-round {
    outline: none;
    border-radius: 50%;
    border-width: 0;
    line-height: 66px;
    width: 56px;
    height: 56px;
    position: fixed;
    right: 24px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: bottom 0.45s ease-in, box-shadow 0.5s;
}

button.floating-round:active {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button.orange, input.orange, label.button.orange {
    background: #FF9800;
    color: white;
}
    button.orange:hover, input.orange:hover, label.button.orange:hover{
        background: #FB8C00;
    }

    button.orange:active, input.orange:active, label.button.orange:active {
        background: #F57C00;
    }

button.white, input.white, label.button.white {
    background: white;
    color: #FF9800;
}
    button.white:hover, input.white:hover, label.button.white:hover {
        color: #FB8C00;
    }

    button.white:active, input.white:active, label.button.white:active {
        color: #F57C00;
    }

button.raised, .button.raised, input.raised {
    letter-spacing: 0.1em;
    border-width: 0;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 3px;
    min-width: 88px;
    margin-top: 16px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: box-shadow 0.5s, background-color  0.5s;
}

.raised i, .raised span {
    vertical-align:middle;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}

button:hover.raised, .button:hover.raised, input:hover.raised  {
}

button:active.raised, .button:active.raised, input:active.raised  {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button.new {
    z-index: 1003;
    right: 24px;
    bottom: 24px;
}

button.center {
    right: 24px;
    bottom: 104px;
}

button.list {
    left: 24px;
    bottom: 24px;
}

button.profile {
    padding: 0;
    left: 24px;
    bottom: 104px;
}

button.close {
    outline: none;
    position: absolute;
    left: 12px;
    top: 10px;
    border: 0;
    background: transparent;
    color: rgba(255, 255, 255, 1);
}

button.snap {
    float: right;
}


.drop-metadata {
    position: relative;
    height: 40px;
    margin: 0;
    padding: 0;
}

    .drop-metadata .drop-time {
        margin: 0;
        line-height: 40px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        display: inline-block;
        padding: 0 0 0 16px;
    }

    .drop-metadata .snap-widget {
        float: right;
        margin: 0;
        padding: 0 56px 0 0;
        line-height: 40px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        display: inline-block;
    }

    .drop-metadata button.snap {
        position: absolute;
        top: 0;
        right: 8px;
    }

.comment-form {
    margin: 16px;
    text-align: center;
}

.no-content {
    margin: 16px;
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
}

.comment-form .comment-entry {
    display: block;
    width: 100%;
    height: 5em;
    text-align: left;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,0.24);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.24);
    border: 1px solid rgba(0,0,0,0.12);
}


.drop-info .comment-list {
    clear: both;
    height: calc(50vh - 48px);
    max-height: calc(50vh - 48px);
    overflow: scroll;
}

.bottom-sheet {
    background: white;
    position: fixed;
    overflow: scroll;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.24);
    box-shadow: 0 3px 6px rgba(0,0,0,0.24);
}

    .bottom-sheet h2, .user.view header, .follow-page header {
        letter-spacing: 0.1em;
        width: 100%;
        background: #FF9800;
        color: white;
        font-weight: normal;
        font-size: 20px;
        text-align: left;
        margin: 0;
        padding: 0 0 0 56px;
        line-height: 48px;
        height: 48px;
    }

nav.tabs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    marging: 0;
    padding: 0;
    border: none;
    background-color: white;
    height: 56px;
}
    nav.tabs button.tab {
        outline: none;
        height: 56px;
        display: inline-block;
        border: none;
        padding: 8px;
        margin: 0;
        color: rgba(0, 0, 0, 0.78);
        background-color: white;
        border-bottom: 3px solid white;
        width: 49%;
        max-width: 50%;
        transition: color 0.5s;
    }

    nav.tabs button.tab:hover {
        color: #FF9800;
    }

    nav.tabs button.tab.selected {
        color: #FF9800;
        border-bottom: 3px solid #FF9800;
    }

    nav.tabs button.tab i {
        display: block;
    }


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* fancy loader http://projects.lukehaas.me/css-loaders/ */

.loader {
    display: none;
}
.uploading .new-drop-form textarea,
.uploading .new-drop-form input[type='file'],
.uploading .new-drop-form input[type='submit'],
.uploading .new-drop-form label {
    display: none;
}
.uploading .loader:before,
.uploading .loader:after,
.uploading .loader {
  display: block;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.uploading .loader {
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.uploading .loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.uploading .loader:after {
  left: 3.5em;
}
.uploading .loader:before,
.uploading .loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #FF9800;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FF9800;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #FF9800;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FF9800;
  }
}
