<script id="entry-template" type="text/x-handlebars-template">
  <div class="view user">
    <article class="drop">
      <img src="{{drop.image}}">
      <p class="droptext">{{drop.text}}</p>
    <div class="userinfo">
      <img src="{{drop.user.avatar}}">
      <p class="username">{{drop.user.username}}</p>
    </div>
    <div class="comment-list">
    </div>
    <div class="menu">
      <button>Snap<button>
      <input type="text">
      <button>Comment<button>
    </div>
    </article>
  </div>
</script>