<script data-template='show-user' type="text/x-handlebars-template">
  <div data-view="user" class="view user">
    <article class="follow pure-g">
            <div class="pure-u">
              <a href="/users/{{id}}">
                <img class="follower-avatar" src="{{avatar}}">
              </a>
            </div>
            <div class="pure-u-1-2">
              <h3 class="follower-username">{{username}}</h3>
            </div>
            <div class="pure-u">
              <%= render 'follow_form' %>            
            </div>
    </article>
  </div>
</script>
