<script data-template='show-drop' type="text/x-handlebars-template">
  <div class="view user">
    <article class="drop">
      <img src="{{photo}}">
      <p class="droptext">{{text}}</p>
    <div class="userinfo">
      <img src="{{user.avatar}}">
      <p class="username">{{user.username}}</p>
    </div>
    <div class="comment-list">
    </div>
    <div class="menu">
      <button>Snap<button>
      <input type="text">
      <button>Comment<button>
    </div>
    </article>
  </div>
</script>