<script data-template='drop-list' type="text/x-handlebars-template">
  <div class="drop-list pure-u-1 pure-u-sm-1-3">
    {{#each .}}
    <div class="drop-item pure-g" >
      <div class="drop-avatar pure-u-1-8">
        <a href="/users/{{user.id}}" title="{{user.username}}">
          <img class="list-avatar" src="{{user.avatar}}">
        </a>
      </div>
      <div class="drop-distance pure-u-3-8">{{dist distance}} away</div>
      <div class="drop-time pure-u-3-8">{{timeAgo created_at}} ago</div>
      <div class="drop-link pure-u-1-8">
        <a class="drop-link" data-drop="{{id}}" href="#">View</a>
      </div>
    </div>
    {{else}}
    <p class="drop-list-empty">No nearby drops</p>
    {{/each}}
  </div>
</script>
