<script data-template='drop-list' type="text/x-handlebars-template">
  <div class="drop-list pure-u-1 pure-u-sm-1-3">
    {{#each .}}
    <div class="drop-item pure-g" >
      <div class="drop-avatar pure-u-1-8">
        <a href="/users/{{user.id}}" title="{{user.username}}">
          <img class="list-avatar" src="{{user.avatar}}">
        </a>
      </div>
      <div class="drop-distance pure-u-1-4">{{dist distance}} away</div>
      <div class="drop-time pure-u-1-4">{{timeAgo created_at}} ago</div>
      <div class="drop-snap pure-u-1-4">{{pluralize snaps_count "snap"}}</div>
      <div class="icons pure-u-1-4">
        {{#if has_photo}}
        <div class="drop-link pure-u-5-24">
          <i class="material-icons"><a class="drop-link" data-drop="{{id}}" href="#">photo_camera</a></i>
        </div>
        {{/if}}
        <div class="drop-link pure-u-5-24">
          <i class="material-icons"><a class="drop-link" data-drop="{{id}}" href="#">expand_more</a></i>
        </div>
      </div>
    </div>
    {{else}}
    <p class="drop-list-empty">No nearby drops</p>
    {{/each}}
  </div>
</script>
