<script data-template='show-drop' type="text/x-handlebars-template">
  <article data-view="drop" class="view drop pure-g bottom-sheet">
    {{#if has_photo}}
    <div class="drop-content">
      <img src="{{photo}}" class="drop-img pure-img-responsive">
      <p class="drop-text">{{text}}</p>
    </div>
    {{else}}
    <div class="drop-content text-only">
      <p class="drop-text">{{text}}</p>
    </div>    
    {{/if}}
    <div class="drop-info">
      <button data-button="close-drop" class="close"><i class="material-icons md-light md-24">clear</i></button>
      <h2>Dropped by {{user.username}}</h2>
      {{> comment}}
  </article>
</script>

<!--   <div data-menu="drop" class="menu pure-g">
    <div class="pure-u-1-5">
      {{> snap-button}}
    </div><div class="pure-u-3-5">
    <div class="fancy-input">
      <input data-form="comment-form" name="comment" type="text">
    </div>
    </div><div class="pure-u-1-5">
    <button data-button="comment-button" class="pure-button"><i class="material-icons">chat_bubble</i></button>
    </div>
  </div>
 -->

<script data-partial="snap-button-partial" type="text/x-handlebars-template">
  {{#if snapped_by_you}}
    <button data-button="snap-button" disabled class="pure-button pure-button-disabled">{{pluralize snaps_count "Snap"}}</button>
  {{else}}
    <button data-button="snap-button" class="pure-button">{{pluralize snaps_count "Snap"}}</button>
  {{/if}}
</script>

<script data-partial="comment-partial" type="text/x-handlebars-template">
  <div class="comment-list">
    <h3 class="pure-u-1">{{pluralize comments_count "comment"}}</h3>
    {{#each comments}}
      <div class="comment-item pure-g pure-u-1">
        <div class="pure-u">
          <a href="/users/{{user.id}}">
            <img class="avatar" src="{{user.avatar}}">
          </a>
        </div>
        <div class="pure-u-3-4">
          <h3 class="comment-username">{{user.username}}</h3>
          <p class="comment-text">{{text}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</script>
